* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

:root {
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
    --white: white;
    --bold: 800;
    --mar-20: 20px;
    --mar-40: 40px;
    --center: center;
    --left: left;
    --right: right;
}

a {
    text-decoration: none;
}



/* HEADER */
header {
    height: 80px;
    background-color: var(--blue)
}

.container {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    font-size: 40px;
    color: var(--white);
}

header nav {
    display: none;
}

.button {
    border-radius: 15px;
    padding: 5px 12px;
}

.flex-nav a.button {
    color: black;
    background-color: var(--white);
}    


/* HEADER versione desktop */
@media all and (min-width:1025px) {
    .container {
        width: 70%;
    }

    #hamburger {
        display: none;
    }

    header nav {
        display: block;
    }

    .flex-nav {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }

    .flex-nav a {
        color: var(--white);
        font-size: 15px;
    }
}



/* MAIN */
main {
    height: calc(100vh - 80px);
    overflow-y: auto;
}

/* sezione funzionalità */
section {
    padding-top: 50px;
    padding-bottom: 30px;
}

.col {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: var(--light-blue);
    padding: 20px;
}

.functions .first-card {
    text-align: var(--center);
}

.functions .card {
    text-align: var(--center);
}

.sub-title {
    font-size: 25px;
    margin-bottom: var(--mar-20);
}

.functions .sub-title {
    color: var(--blue);
}

.text {
    font-size: 15px;
    line-height: 200%;
}

.functions .text {
    font-weight: var(--bold);
    color: #5a6e7f;
    margin-bottom: var(--mar-20);
}

.first-card .text {
    margin-bottom: var(--mar-40);
}

div.left.center .text {
    margin-bottom: var(--mar-40);
}

.functions .button {
    background-color: var(--blue);
    color: var(--white);
    margin-bottom: var(--mar-20);
    padding: 8px 40px;
    font-size: 20px;
}

.button .icon {
    margin-right: 10px;
}

.img-phone img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
}

.functions .col:first-child {
    padding-bottom: 0;
}

.big-icon {
    font-size: 100px;
    margin-top: var(--mar-20);
    margin-bottom: var(--mar-20);
    color: var(--blue);
}


/* sezione planning */
.bg-purple {
    background-color: #9792e4;
}

.planning img {
    width: 100%;
}

.plan-left .sub-title,
.plan-left .text {
    color: white;
}

.plan-left .text,
.plan-right .text {
    font-weight: 200;
}

.planning .col {
    background-color: white;
}

.plan-right {
    padding-bottom: 40px;
}

.plan-right .sub-title,
.plan-right .text {
    color: black;
}

.plan-right .text {
    font-style: italic;
}

.plan-right .button {
    border-radius: 50%;
    color: black;
    padding: 10px 15px;
}



/* MAIN versione tablet */
@media all and (min-width:768px) {
    /* sezione funzionalità */
    .functions .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .functions .col {
        width: calc(100% / 3 - 10px);
        margin-bottom: 15px;
    }
    
    .functions .col:first-child {
        width: calc(100% / 3 * 2 - 5px);
    }

    .functions .first-card {
        text-align: var(--left);
    }

    .img-phone {
        padding-bottom: 0;
    }

    .img-phone img {
        display: block;
        width: 50%;
        margin-left: 10px;
    } 

    /* sezione planning */
    .plan-left .sub-title {
        font-size: 40px;
    }
}

/* MAIN versione desktop */
@media all and (min-width:1025px) {
    /* sezione funzionalità */
    .functions .col:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .functions .first-card {
        width: calc(50% - 20px);
        padding-bottom: 30px;
    }

    .img-phone {
        width: calc(50% - 20px);
        align-self: flex-end;
    }
    
    .img-phone img {
        width: 80%;
        display: block;
    }

    /* sezione planning */
    .planning .container {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .plan-left {
        width: 40%;
    }

    .plan-left .sub-title {
        font-size: 25px;
    }

    .plan-left .text {
        font-size: 12px;
    }

    .plan-right {
        width: 30%;
        align-self: flex-end;
    }

    .plan-right img {
        width: 80%;
    }

    .plan-right .sub-title {
        font-size: 18px;
    }

    .plan-right .text {
        font-size: 10px;
    }


}