* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

:root {
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
    --white: white;
    --bold: 800;
    --mar-20: 20px;
    --mar-40: 40px;
    --center: center;
    --left: left;
    --right: right;
}

a {
    text-decoration: none;
}

#content {
    height: calc(100vh - 80px);
    overflow-y: auto;
}



/* HEADER */
header {
    height: 80px;
    background-color: var(--blue)
}

.container {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    font-size: 40px;
    color: var(--white);
}

header nav {
    display: none;
}

.button {
    border-radius: 15px;
    padding: 5px 12px;
}

.flex-nav a.button {
    color: black;
    background-color: var(--white);
}    


/* HEADER versione desktop */
@media all and (min-width:1025px) {
    .container {
        width: 70%;
    }

    #hamburger {
        display: none;
    }

    header nav {
        display: block;
    }

    .flex-nav {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }

    .flex-nav a {
        color: var(--white);
        font-size: 15px;
    }
}



/* MAIN */

/* sezione funzionalità */
section {
    padding-top: 50px;
    padding-bottom: 30px;
}

.col {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: var(--light-blue);
    padding: 20px;
}

.functions .first-card {
    text-align: var(--center);
}

.functions .card {
    text-align: var(--center);
}

.sub-title {
    font-size: 25px;
    margin-bottom: var(--mar-20);
}

.functions .sub-title {
    color: var(--blue);
}

.text {
    font-size: 15px;
    line-height: 200%;
}

.functions .text {
    font-weight: var(--bold);
    color: #5a6e7f;
    margin-bottom: var(--mar-20);
}

.first-card .text {
    margin-bottom: var(--mar-40);
}

div.left.center .text {
    margin-bottom: var(--mar-40);
}

.functions .button {
    background-color: var(--blue);
    color: var(--white);
    margin-bottom: var(--mar-20);
    padding: 8px 40px;
    font-size: 20px;
}

.button .icon {
    margin-right: 10px;
}

.img-phone img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
}

.functions .col:first-child {
    padding-bottom: 0;
}

.big-icon {
    font-size: 100px;
    margin-top: var(--mar-20);
    margin-bottom: var(--mar-20);
    color: var(--blue);
}


/* sezione planning */
.planning {
    background-color: var(--purple);
}

.planning img {
    width: 100%;
    margin-bottom: var(--mar-40);
}

.plan-left .sub-title,
.plan-left .text {
    color: var(--white);
}

.planning .text {
    font-weight: 200;
    margin-bottom: var(--mar-40);
}

.planning .col {
    background-color: var(--white);
}

.plan-right {
    padding-bottom: 40px;
    text-align: var(--center);
}

.plan-right img {
    margin-bottom: var(--mar-20);
}

.plan-right .sub-title,
.plan-right .text {
    color: black;
}

.plan-right .text {
    font-style: italic;
}

.plan-right .button {
    border-radius: 50%;
    color: black;
    padding: 10px 15px;
    background-color: var(--purple);
}


/* sezione partners */
.partners {
    text-align: var(--center);
}

.upper-title,
.title,
.partners .text,
.quote-partners p {
    margin-bottom: var(--mar-40);
}

.upper-title {
    font-size: 20px;
}

.title {
    font-size: 35px;
    font-weight: var(--bold);
    color: var(--purple);
}

.partners .col {
    background-color: var(--purple);
}

.img-partners {
    width: 230px;
    height: 230px;
    margin: 0 auto;
}

.img-partners img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.quote-partners {
    margin-top: var(--mar-40);
    color: var(--white);
}

.fa-quote-left {
    margin-right: 3px;
}

.fa-quote-right {
    margin-left: 3px;
}

.quote-partners .upper-title {
    font-weight: var(--bold);
    margin-bottom: var(--mar-20);
}

.benefits {
    background-color: var(--purple);
    color: var(--purple);
}

.benefits .title,
.benefits a.button {
    color: var(--white);
}

.benefits .title {
    text-align: var(--center);
}

.benefits .col {
    background-color: var(--white);
    margin-bottom: var(--mar-40);
}

.big-title {
    font-size: 60px;
}

.big-title,
.benefits .sub-title,
.benefits .button {
    font-weight: var(--bold);
}

.big-title,
.benefits .sub-title,
.benefits .text {
    margin-bottom: var(--mar-20);
}

.button {
    background-color: var(--purple);
    padding: 7px 40px;
}

/* sezione about us */
.about-us .big-title,
.about-us .sub-title {
    color: var(--purple);
}

.about-us .text,
.about-us .img-partners,
.about-us .sub-title {
    margin-bottom: var(--mar-40);
}

.about-us .img-partners {
    margin-left: 0;
    position: relative;
}

.about-right .fa-quote-left {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 700;
}

.about-us .sub-title,
.about-right .button {
    font-weight: var(--bold);
}

.about-right {
    text-align: var(--left);
}

.about-right .button {
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
}

.fa-linkedin {
    margin-right: 5px;
}

/* sezione free */
.free {
    background-color: var(--purple);
    text-align: var(--center);
    color: var(--white);
}

.free .upper-title {
    margin-bottom: var(--mar-20);
    color: #cbc9f1;
}

.free .sub-title,
.free .big-title,
.free .text {
    margin-bottom: var(--mar-40);
}

.free .sub-title,
.free .big-title,
.free .button {
    font-weight: var(--bold);
}

.free .big-title {
    color: #fdc15f;
}

.free .button {
    background-color: var(--white);
    color: var(--purple);
    padding: 15px 50px;
}

.small-text {
    font-size: 12px;
}

.free .small-text {
    margin-top: var(--mar-40);
    margin-bottom: var(--mar-20);
}

.small-text i {
    font-size: 5px;
    margin: 0 3px;
}

.underline {
    text-decoration: underline;
}


/* MAIN versione tablet */
@media all and (min-width:768px) {
    /* sezione funzionalità */
    .functions .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .functions .col {
        width: calc(100% / 3 - 10px);
        margin-bottom: 15px;
    }
    
    .functions .col:first-child {
        width: calc(100% / 3 * 2 - 5px);
    }

    .functions .first-card {
        text-align: var(--left);
    }

    .img-phone {
        padding-bottom: 0;
    }

    .img-phone img {
        display: block;
        width: 50%;
        margin-left: 10px;
    } 

    /* sezione planning */
    .plan-left .sub-title {
        font-size: 40px;
    }

    /* sezione partners */
    .partners .col {
        display: flex;
        align-items: center;
        gap: 20px;
        text-align: var(--left);
    }

    .img-partners {
        width: 230px;
        height: 230px;
        margin: 0 auto;
    }
    
    .img-partners img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .quote-partners {
        width: 60%;
    }

    /* sezione benefits */
    .benefits .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    .benefits .col {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }

    /* sezione about us */
    .about-us .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about-left {
        width: 50%;
    }

    .about-right {
        width: 40%;
    }

    /* sezione free */
    .small-container {
        width: 50%;
        margin: 0 auto;
    }
}

/* MAIN versione desktop */
@media all and (min-width:1025px) {
    /* sezione funzionalità */
    .functions .col:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .functions .first-card {
        width: calc(50% - 20px);
        padding-bottom: 30px;
    }

    .img-phone {
        width: calc(50% - 20px);
        align-self: flex-end;
    }
    
    .img-phone img {
        width: 80%;
        display: block;
    }

    /* sezione planning */
    .planning .container {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .plan-left {
        width: 40%;
    }

    .plan-left .sub-title {
        font-size: 25px;
    }

    .plan-left .text {
        font-size: 12px;
    }

    .plan-right {
        width: 30%;
        align-self: flex-end;
    }

    .plan-right img {
        width: 80%;
    }

    .plan-right .sub-title {
        font-size: 18px;
    }

    .plan-right .text {
        font-size: 10px;
    }

    /* sezione benefits */
    .benefits .col {
        width: calc(100% / 3 - 10px);
    }

    /* sezione free */
    .small-container {
        width: 30%;
    }
}



/* FOOTER */
footer {
    background-color: #333333;
    color: var(--white);
    text-align: var(--center);
}

footer .small-container {
    padding: 40px 0;
}

.small-container .text:first-child {
    margin-bottom: 30px;
}


footer .underline {
    color: var(--purple);
}


/* FOOTER versione tablet */
@media all and (min-width:768px) {
    .small-container {
        width: 70%;
    }
}


/* FOOTER versione desktop */
@media all and (min-width:1025px) {
    .small-container {
        width: 30%;
    }
}